body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.feedback-message {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.feedback-message.success {
  color: #28a745; 
}

.feedback-message.error {
  color: #dc3545; 
}



.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.toggle-btn {
  background-color: #6c757d;
}

.toggle-btn:hover {
  background-color: #5a6268;
}

@media (max-width: 768px) {
  .login-container {
    padding: 15px 20px;
  }

  .form-group input {
    padding: 8px;
  }

  .btn {
    font-size: 14px;
    padding: 8px;
  }
}
